*{
    margin: 0px;
    padding: 0pa;
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    
}
.display-flex-permanant{
    display: flex;
    flex-direction: row;
    
}
.margin-cards{
    margin: 20px;
}
.mnit-header-proflie{
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 70vw;
    margin:10px auto;
}
.mnit-logo img{
    width: 6vw;
    margin: 10px;
}
.mnit-text{
    text-align: left;
}
.mnit-text h3{
    font-size: 1.5rem;
}
.mnit-text p{
    font-size: 1.2rem !important;
}
.font-size-responsive{
    font-size: 1.8rem;
}
.container-profile{
    width: 90vw;
    height: auto;
    border-radius: 10px;
    margin:5vh auto;
    box-shadow: 0px 0px 5px .1px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
}
.profile-card{
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 70vw;
    margin: auto;
}
.img-prof img{
    width: 10vw;
    height:10vw;
    border-radius: 50%;
	border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0px 0px 10px .1px rgb(163, 156, 156);

}
.name-details-prof{
    text-align: left;
}
.table td, .table th {
    padding: .2rem !important;
}
.prof-details-one div{
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 70vw;
    margin: auto;
    padding: 15px;
    margin: 20px auto;
}
.prof-details-one div h3{
   color: blue;
}
.prof-details-two{
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 70vw;
    margin: auto;
    text-align: justify;
  text-justify: inter-word;
}
.table-of-education-prof tbody tr td {
    padding:1.2rem 1.5rem !important;
}

/* mobile size 800px  */
@media only screen and (max-width: 870px) {
    .mnit-logo img{
        width: 65px;
        margin: 10px;
    }
    .mnit-text h3{
        font-size: 1.2rem;
    }
    .prof-details-one div{
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 85vw;
    margin: auto;
    padding: 15px;
    margin: 20px auto;
}
.profile-card{
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 85vw;
    margin: auto;
}
.prof-details-two{
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 85vw;
    margin: auto;
    text-align: justify;
  text-justify: inter-word;
}
.prof-table-details tr td{
    font-size: 1rem !important;
}
.prof-table-details tr th{
    font-size: 1rem !important;
}
.display-flex{
    display: flex;
    flex-direction: column;
}
.img-prof img{
    width: 150px;
    height:150px;
    border-radius: 50%;
	border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0px 0px 10px .1px rgb(163, 156, 156);

}
.container-profile{
    padding: 5px;
}
.mnit-header-proflie{
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px .1px rgba(212, 212, 212, 0.514);
    width: 85vw;
    margin:10px auto;
}
}
@media only screen and (max-width: 870px) {
    .mnit-text h3{
        font-size: 1rem;
    }
    .mnit-text h5{
        font-size: .7rem !important;
    }
}

